.counterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .buttonsCounter {
        .counterValue {
            font-size: 2rem;
            color: white;
            margin: 10px;
        }
    }

}